* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
}


.topbar {
  background: black;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
}

#overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  padding: 20px;
  overflow-y: auto;
  z-index: 1001;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar a {
  display: block;
  padding: 6px 0;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.panel a {
  padding-left: 15px;
  font-weight: normal;
}

.sidebar-bottom {
  margin-top: 40px;
}


.main {
  margin-left: 250px;
  padding: 20px;
}

/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
}

.hero-text h1 {
  font-size: 48px;
}

.hero-text button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
}


.items-count {
  color: gray;
  margin: 15px 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product img {
  width: 100%;
}

.tag {
  background: black;
  color: white;
  padding: 4px 8px;
  position: absolute;
}

.sale {
  color: #c62828;
}


.subscribe {
  background: black;
  color: white;
  padding: 30px;
  margin-top: 40px;
}

.subscribe input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.subscribe button {
  background: red;
  color: white;
  padding: 10px 20px;
  border: none;
}


.footer {
  background: #f1f1f1;
  padding: 30px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.footer input {
  width: 100%;
  padding: 6px;
  margin-bottom: 6px;
}

.footer button {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
}

.footer a {
  display: block;
  font-size: 14px;
  margin: 4px 0;
}


.footer-bottom {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}


@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .main {
    margin-left: 0;
    margin-top: 70px;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
  }
}

